<div class="post">
    <a href="/post/<%=post._id%>">
        <span class="date"><%=post.date%></span>
        <p class="post-text"><%=post.text%></p>
    </a>
</div>

<form method="POST" action="/like">
    <label for "like-message">Like this post:</label>
    <input type="text" name="like-message" id="like-message">
    
</form>
