<html>
    <title>
        <!-- This is the title of the HTML document -->
        Class 19 Demo

        <!-- You can add more metadata or links here if needed -->
    </title>
    <div class="all-post">
        <% %% %>

    </div>

    
</html>