<html>
<head>
    <title>My Dino</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Your Virtual Dino</h1>
    <div id="dinoDisplay"></div>
    <div id="stats">
        <p>Type: <span id="type">loading...</span></p>
        <p>Stage: <span id="stage"></span></p>
        <p>Energy: <span id="energy"></span></p>
        <p>Happiness: <span id="happiness"></span></p>
    </div>
    <button onclick="feedDino()">Feed</button>
    <button onclick="playWithDino()">Play</button>
    <script src="/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.min.js"></script>
    <script src="/main.js"></script>
</body>
</html>